@import url("https://fonts.googleapis.com/css?family=Karla|Lato:400,700&display=swap");
@font-face {
  font-family: "PF Din Text Cond Pro";
  src: url("../fonts/pfdintextcondpro-regular.ttf");
}
@font-face {
  font-family: "HelveticaNeueCyr Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf");
}
@font-face {
  font-family: "HelveticaNeueCyr Light";
  src: url("../fonts/HelveticaNeueCyr-Light.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #E5E5E5;
}

#content {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
}

header {
  position: absolute;
  height: 72px;
  max-width: 1440px;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
header .row {
  max-width: 1202px;
  margin: 0 auto;
}
header p {
  margin-bottom: 0;
}
header #header-logo {
  position: relative;
  width: 58px;
  height: 58px;
}
header #header-logo img {
  position: absolute;
}
header #header-logo img[src="img/logo/Vector.svg"] {
  top: 0;
  left: 5px;
}
header #header-logo img[src="img/logo/Vector-3.svg"] {
  top: 25px;
  left: 22px;
}
header #header-logo img[src="img/logo/Vector-1.svg"] {
  bottom: 0;
  right: 0;
}
header #header-logo img[src="img/logo/Vector-2.svg"] {
  bottom: 0;
  left: 0;
}
header #header-description {
  margin-left: 3px;
}
header #header-description p:first-child {
  font-family: "HelveticaNeueCyr Bold", sans-serif;
  font-size: 25px;
  line-height: 25px;
  color: #2F80ED;
  margin-top: 16px;
}
header #header-description p:last-child {
  font-family: "HelveticaNeueCyr Light", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #219653;
  margin-bottom: 17px;
  height: 14px;
}
header nav ul {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #2F80ED;
  font-weight: bold;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
header nav ul li {
  margin-top: 27px;
  margin-bottom: 28px;
  margin-right: 23px;
}
header nav ul li a:hover {
  text-decoration: none;
  color: #219653;
}
header .btn.btn-primary {
  border: 1px solid #2F80ED;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #2F80ED;
  font-weight: bold;
  padding: 8px 11px;
}
header .btn.btn-primary:hover, header .btn.btn-primary:active, header .btn.btn-primary:focus {
  background-color: #2F80ED;
  color: white;
  box-shadow: none;
}

#bg-img {
  height: 602px;
  background: url("../img/image 6.png");
}
#bg-img > div {
  max-width: 1051px;
  background: linear-gradient(85.96deg, rgba(255, 255, 255, 0) 7.73%, rgba(255, 255, 255, 0.9) 55.76%);
  position: relative;
}
#bg-img > div > div {
  position: absolute;
  top: 136px;
  bottom: 233px;
  right: 131px;
}
#bg-img > div > div p:first-child {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #2F80ED;
  margin-bottom: 8px;
}
#bg-img > div > div p {
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 50px;
  line-height: 55px;
  color: black;
  margin-bottom: 64px;
}
#bg-img > div > div .btn.btn-primary {
  background: #2F80ED;
  border: 1px solid #2F80ED;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: white;
  font-weight: bold;
  padding: 8px 59px;
}
#bg-img > div > div .btn.btn-primary:hover, #bg-img > div > div .btn.btn-primary:active, #bg-img > div > div .btn.btn-primary:focus {
  background-color: transparent;
  color: #2F80ED;
  box-shadow: none;
}

#info {
  position: relative;
  background-color: #2F80ED;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#info div:first-child {
  height: 24px;
}
#info div.row > div {
  margin: 12px 0;
}
#info hr {
  border: 1px solid white;
  width: 0;
  height: 48px;
  margin: 0 15px;
  padding: 0;
}
#info a {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: white;
}
#info a:hover {
  text-decoration: none;
}

#key-directions {
  background-color: white;
}
#key-directions div.col-12 p:first-child {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
  height: 19px;
  margin-top: 46px;
  margin-bottom: 11px;
}
#key-directions div.col-12 p:nth-child(2) {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: black;
  height: 39px;
}
#key-directions div.col-12 #img-star {
  background: url("../img/star.svg") center no-repeat;
  height: 26px;
  margin-top: 8px;
  margin-bottom: 50px;
}
#key-directions div.row:nth-child(2) {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: black;
}
#key-directions div.row:nth-child(2) div {
  cursor: pointer;
}
#key-directions div.row:nth-child(2) div:hover {
  color: #2F80ED;
}
#key-directions div.row:nth-child(2) hr {
  width: 0;
  height: 144px;
  border: 1px solid #2F80ED;
  margin: 0 0 81px;
}
#key-directions div.row:nth-child(2) img {
  margin: 0 auto 40px;
  height: 79px;
}
#key-directions .marker {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 20px 0 20px;
  border-color: white transparent transparent transparent;
  position: relative;
  top: 73px;
  filter: drop-shadow(0 6px 3px rgba(0, 0, 0, 0.15));
  margin: 0 auto;
}

#category-details {
  padding-top: 47px;
  padding-bottom: 47px;
  background-color: #F6F6F6;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25);
}
#category-details h3 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: black;
  font-weight: bold;
  margin-bottom: 34px;
}
#category-details p {
  margin: 0 0 8px;
  font-family: "HelveticaNeueCyr Light", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: black;
}
#category-details p br {
  display: block;
  margin: 7px 0;
}
#category-details .btn.btn-primary {
  border: 1px solid #2F80ED;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #2F80ED;
  font-weight: bold;
  padding: 13px 87px;
}
#category-details .btn.btn-primary:hover, #category-details .btn.btn-primary:active, #category-details .btn.btn-primary:focus {
  background-color: #2F80ED;
  color: white;
  box-shadow: none;
}

/*# sourceMappingURL=style.css.map */
