@import url('https://fonts.googleapis.com/css?family=Karla|Lato:400,700&display=swap');
@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: url("../fonts/pfdintextcondpro-regular.ttf");
}
@font-face {
  font-family: 'HelveticaNeueCyr Bold';
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf");
}
@font-face {
  font-family: 'HelveticaNeueCyr Light';
  src: url("../fonts/HelveticaNeueCyr-Light.ttf");
}